@import '../utils/mixins';

@import '../components/page__components/about__paragraph.scss';

.about--page {
  @include flexbox-center-space-between;
  padding: 40px 75px 100px 90px;
  color: #173756;

  img {
    margin-top: 20px;
    padding-left: 60px;
  }
}

@include extraLargeDesktop {
  .about--page {
    padding: 40px 0 100px;
  }
}

@include smallDesktop {
  .about--page {
    flex-direction: column-reverse;
    padding: 20px 48px 75px;
    text-align: center;

    img {
      width: auto;
      // height: 640px;
      object-fit: contain;
      margin-bottom: 30px;
    }
  }
}

@include tablet {
  .about--page {
    padding: 25px 28px 52px;

    img {
      max-height: 495px;
      width: auto;
      max-width: 100%;
      margin-bottom: 70px;
    }
  }
}

@include phone {
  .about--page {
    padding: 10px 16px 45px;

    img {
      margin-bottom: 60px;
      height: auto;
      width: 100%;
    }
  }
}

@media (max-width: 1224px) {
  .about--page img {
    padding-left: 0;
  }
}

@media screen and (min-width: 1300) {
  .about--page {
    padding-right: 0;
    padding-left: 0;
  }
}
