@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans_Condensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
}
