/*#region addFonts*/
@font-face {
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OpenSans-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans", "sans-serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans Condensed", "sans-serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OpenSans_Condensed-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Playfair Display", "serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/PlayfairDisplay-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
}
/*#endregion addFonts*/

/*#region resetCSS*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul, fieldset {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}
/*#endregion resetCSS*/

/*#region variables*/
html {
  --dark-blue: #132a4e;
  --medium-blue: #0d3b70;
  --light-blue: #115099;
  --transparent-blue: #f3f6f7;
  --yellow: #fdeb0e;
}
/*#endregion variables*/

/*#region generalStyles*/
* {
  transition: all 0.4s;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-blue);
}

a {
  font-family: "Open Sans", "sans-serif";
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", "serif";
  font-weight: 700;
  color: var(--dark-blue);
}
/*#endregion generalStyles*/

/*#region pageWrapper*/
.page__wrapper {
  margin: 0 auto;
  max-width: 1440px;
}
/*#endregion pageWrapper*/

/*#region header*/
.header__burger-menu {
  display: none;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--light-blue);
}

.header__action {
  background-color: var(--yellow);
  text-align: center;
}

.header__action-wrapper {
  position: relative;
}

.header__action-wrapper a {
  padding: 16px 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
}

.header__action-wrapper button {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 16px;
  width: 16px;
  background-image: url("../images/cross.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 74px;
}

.header__nav a:first-child {
  height: 81px;
}

.header__nav a:first-child img {
  width: 193px;
}

.header__nav ul {
  display: flex;
}

.header__nav > ul > li:not(:last-child) > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 78px;
  font-size: 16px;
  line-height: 64px;
  letter-spacing: -0.0015em;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #FFFFFF;
}

.yellow-link {
  position: relative;
  padding: 20px 72px 20px 36px;
  font-family: "Open Sans Condensed", "Open Sans", "sans-serif";
  font-size: 18px;
  line-height: 41px;
  text-transform: capitalize;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
  background: var(--yellow);
  border-radius: 100px;
}

.yellow-link::after {
  position: absolute;
  content: url("../images/arrow.svg");
  right: 36px;
}

.header--white {
  background-color: #fff;
  color: #000000;
}

.header--white .header__nav > ul > li:not(:last-child) > a {
  color: #000000;
}

.header--transparent-blue {
  background-color: var(--transparent-blue);
}

.header--transparent-blue .header__nav > ul > li:not(:last-child) > a {
  color: #000000;
}
/*#endregion header*/

/*#region greeting*/
.greeting {
  background-color: var(--light-blue);
  padding: 30px 88px 103px;
  margin-bottom: 72px;
}

.greeting__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

.greeting__description-text {
  max-width: 540px;
}

.greeting__description-text p:first-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #FFFFFF;
}

.greeting__description-text h1 {
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
  color: #FFFFFF;
}

.greeting__description-text p:not(:first-child) {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.greeting__examples {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting__examples p {
  margin-right: 116px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 31px;
  line-height: 36px;
  color: #FFFFFF;
}

.greeting__examples-companies {
  display: flex;
  align-items: center;
}

.greeting__examples-companies a {
  height: 52px;
  margin-right: 116px;
}

.greeting__examples-companies a:last-child {
  margin-right: 0;
}

.greeting__examples-companies img {
  height: 52px;
}
/*#endregion greeting*/

/*#region cases*/
.cases {
  position: relative;
  text-align: center;
  padding: 0 176px;
}

.cases a:first-child {
  position: absolute;
  top: 250px;
  right: 0;
  padding: 18px 14px 18px 37px;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: var(--light-blue);
  transform: rotate(-90deg);
}

.cases a:first-child::before {
  position: absolute;
  left: 5px;
  top: 15px;
  transform: rotate(90deg);
  content: url("../images/phone.svg");
}

.cases h2 {
  margin-bottom: 60px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
}

.cases > div {
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: repeat(3, 306px);
  column-gap: 85px;
  row-gap: 37px;
  width: max-content;
  align-items: stretch;
}

.cases > div div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cases > div div div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  background-color: var(--yellow);
}

.cases > div div img {
  height: 83px;
}

.cases > div div div:nth-child(2) {
  padding: 36px;
  background-color: var(--transparent-blue);
  flex-grow: 1;
}

.cases > div div h3 {
  font-family: 'Open Sans';
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.cases > div div p {
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.cases a:last-child {
  margin-bottom: 100px;
}
/*#endregion cases*/

/*#region law*/
.law__color {
  background-color: var(--transparent-blue);
}

.law {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 135px 125px 175px 120px;
}

.law img {
  height: 470px;
}

.law__description {
  max-width: 560px;
}

.law__description h2 {
  margin-bottom: 15px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
}

.law__description p {
  margin-bottom: 30px;
}

.law__description p:last-of-type {
  margin-bottom: 35px;
}
/*#endregion law*/

/*#region about*/
.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 135px 125px 175px 120px;
}

.about__description {
  max-width: 500px;
}

.about__description h2 {
  margin-bottom: 15px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
}

.about__description p{
  margin-bottom: 30px;
}

.about img{
  height: 400px;
}

.about__decoration {
  position: absolute;
  bottom: 160px;
  right: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 195px;
  width: 205px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.about__decoration p:nth-child(odd) {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -0.03em;
  text-align: center;
}

.about__decoration p:nth-child(even) {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: -0.03em;
  text-align: center;
}

.about__decoration p:last-child {
  margin-bottom: 0;
}
/*#endregion about*/

/*#region process*/
.process__color {
  background-color: var(--light-blue);
}

.process {
  padding: 80px 320px 85px;
  text-align: center;
  color: #FFFFFF;
}

.process h2 {
  margin-bottom: 25px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
  color: #FFFFFF;
}

.process p {
  margin-bottom: 20px;
}

.process p:last-child {
  margin-bottom: 0;
}
/*#endregion process*/

/*#region mission*/
.mission__color {
  background-color: var(--transparent-blue);
}

.mission {
  padding: 80px 320px 85px;
  text-align: center;
  color: #173751;
}

.mission h2 {
  margin-bottom: 25px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
}

.mission p {
  margin-bottom: 20px;
}

.mission p:last-child {
  margin-bottom: 0;
}
/*#endregion mission*/

/*#region slickSlider*/
.slick-track {
  display: flex;
  gap: 20px;
}

.slick-list {
  overflow: hidden;
}
/*#endregion slickSlider*/

/*#region reviews*/
.reviews h2 {
  max-width: 900px;
  margin: 95px auto 20px;
  font-size: 49px;
  line-height: 64px;
  text-align: center;
  font-feature-settings: 'calt' off;
  color: #173751;
}

.reviews__stars {
  margin: 0 auto 19px;
  width: max-content;
  display: flex;
  align-items: center;
}

.reviews__stars img {
  margin-right: 7px;
}

.reviews__stars img:last-child {
  margin-right: 0;
}

.reviews__slider {
  margin-bottom: 116px;
  width: 100%;
}

.reviews__slider .slick-track {
  padding-top: 36px;
  margin-bottom: 116px;
}

.reviews__slide {
  padding: 95px 32px;
  width: 505px;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.11);
}

.reviews__slide p:first-child {
  margin-bottom: 14px;
  text-align: center;
}

.reviews__slide p:last-child {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.reviews__sites {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0 auto 102px;
}

.reviews__sites a {
 margin-right: 125px;
}

.reviews__sites a:last-child {
  margin-right: 0;
}
/*#endregion reviews*/

/*#region freeevaluation*/
.freeevaluation {
  padding: 105px 0 125px;
  background-color: var(--light-blue);
}

.form {
  max-width: 695px;
  margin: 0 auto;
  padding: 26px 40px 66px;
  background: #F7F7F7;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
}

.form h2 {
  font-size: 31px;
  line-height: 40px;
  text-align: center;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.form p:first-of-type {
  margin-bottom: 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
}

.form fieldset {
  display: flex;
  gap: 24px;
  border: none;
}

.form label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #555555;
}

.form label:last-of-type {
  margin-bottom: 16px;
}

.form input, select, textarea {
  display: block;
  width: 100%;
  padding: 16px 20px;
  margin-top: 8px;
  background: #FFFFFF;
  border: 1px solid #999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #757575;
}

.form textarea {
  resize: none;
}

.form p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 16px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #555555;
}

.form p:last-child {
  margin-bottom: 0;
  text-align: center;
}

.form button.yellow-link {
  width: 100%;
  margin-bottom: 16px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
}

.form button.yellow-link::after {
  right: 250px;
}
/*#endregion freeevaluation*/

/*#region footer*/
.footer {
  color: #FFFFFF;
}

.links {
  background-color: #0D3B70;
}

.footer__links {
  padding: 75px 74px 40px;
}

.links__about {
  display: flex;
  margin-bottom: 95px;
}

.links__about-row {
  max-width: 295px;
}

.links__about-row:first-child {
  margin-right: 65px;
}

.links__about-row:nth-child(2) {
  margin-right: 150px;
}

.links__about-row:nth-child(3) {
  margin-right: 95px;
}

.links__about-row p:first-child {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.links__about-row ul > li {
  margin-bottom: 4px;
}

.links__about-row ul > li:last-child {
  margin-bottom: 0;
}

.links__about-row a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.links__logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding: 56px 74px;
}

.contacts {
  background-color: var(--dark-blue);
}

.contacts__col-socials {
  margin-bottom: 24px;
}

.contacts__col-socials a {
  margin-right: 40px;
}

.contacts__col-socials a:last-child {
  margin-right: 0;
}

.contacts__col-form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}

.contacts__col-form input {
  display: block;
  width: 65%;
  padding: 8px 32px 8px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #555555;
  background: #FFFFFF;
}

.contacts__col-form button {
  position: relative;
  display: block;
  padding: 8px 22px;
  background: #FDEB0E;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
}

.contacts__col-form button::before {
  position: absolute;
  top: 10px;
  left: -30px;
  height: 17px;
  content: url("../images/subscribe-img.svg");
}

.contacts__col p {
  font-size: 13px;
  line-height: 16px;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
}

.contacts__col p:first-child {
  margin-bottom: 32px;
}

.contacts__col:last-child {
  max-width: 700px;
  text-align: right;
}
/*#endregion footer*/

/*#region fraudPage*/
.main-cases {
  margin-top: 60px;
  margin-bottom: 85px;
}

.fraud-cases {
  margin-bottom: 130px;
}
/*#endregion fraudPage*/

/*#region aboutPage*/
.about__greeting {
  background-color: var(--transparent-blue);
}

.about__greeting-img {
  margin-top: 20px;
}

.about__greeting-description {
  max-width: 575px;
}

.about--about-page {
  padding: 40px 75px 100px 90px;
}

.about__text--about-page {
  color: #173756;
}

.about__text--about-page:last-child {
  margin-bottom: 0;
}

.about__paragraph {
  padding: 85px 180px 75px;
}

.mission__text-link {
  color: var(--light-blue);
}

.cases__cards--about-page {
  margin-bottom: 110px;
}
/*#endregion aboutPage*/

/*#region healthcareFraud*/
.mission__title--healthcare {
  text-align: left;
}

.who {
  padding: 90px 175px 115px;
  text-align: center;
}

.who__title {
  margin: 0 auto 12px;
  max-width: 850px;
  font-size: 49px;
  line-height: 64px;
  font-feature-settings: 'calt' off;
}

.who__text {
  margin: 0 auto 60px;
  max-width: 840px;
  color: #173756;
}

.who__text:nth-child(2) {
  max-width: 950px;
  margin-bottom: 95px;
}

.who__cards {
  margin: 0 auto 70px;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 195px);
  column-gap: 90px;
  row-gap: 50px;
}

.who__card-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 152px;
  width: 152px;
  margin: 0 auto 16px;
  background-color: var(--yellow);
}

.who__card-img {
  height: 81px;
}

.who__card-title {
  text-align: center;
  font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
  color: #000000;
}

.who__paragraph {
  margin: 0 auto 24px;
  text-align: left;
  max-width: 1010px;
}

.who__paragraph:last-child {
  margin-bottom: 0;
}

.who__paragraph-title {
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 40px;
}

.who__paragraph-text {
  color: #173756;
}

.expose {
  background-color: var(--transparent-blue);
}

.who__paragraph--expose {
  padding: 86px 0 70px;
}

.together {
  background-color: #fff;
}

.who__paragraph-text--together {
  margin-bottom: 16px;
}

.who__paragraph-text--together:last-child {
  margin-bottom: 0;
}

.who__paragraph-title--together {
  margin-bottom: 23px;
}

.who__paragraph-text-link {
  color: #173751;
}


/*#endregion healthcareFraud*/

/*#region nursing*/
.nursing__description-text {
  text-align: center;
}

.nursing__forms-list {
  margin-bottom: 16px;
}

.nursing__forms-list-item {
  position: relative;
  padding-left: 7px;
}

.nursing__forms-list-item::before {
  content: "•";
  margin-right: 5px;
}
/*#endregion nursing*/

/*#region pharmaseutical*/
.pharm__description-paragraph {
  text-align: center;
}

.pharm__description-text {
  margin-bottom: 30px;
}

.pharm__services {
  background-color: var(--transparent-blue);
}

.who__paragraph--pharm {
  margin: 0 auto 36px;
}

.pharm__group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 180px 95px;
}
/*#endregion pharmaseutical*/

/*#region defense*/
.defense__greeting-img {
  height: 425px;
}

.defense__description {
  text-align: center;
  padding: 105px 205px 105px;
}

.defense__description--without-top-padding {
  text-align: left;
  padding-top: 0;
}

.defense__description-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.defense__description-paragraph {
  max-width: 490px;
}
/*#endregion defense*/

/*#region tariff*/
.tariff__greeting-img {
  height: 530px;
}
/*#endregion tariff*/

/*#region irs*/
.who__paragraph-title--big {
  font-size: 49px;
  line-height: 64px;
}

.who__paragraph--irs {
  max-width: 100%;
  margin-left: 0;
}

.list__item-span {
  font-weight: 700;
}
/*#endregion irs*/


/*#region extraLargeScreen*/
@media screen and (min-width: 1500px) {
  .header__nav {
    margin: 0 auto;
  }

  .law {
    padding: 135px 0 175px 0;
  }

  .about {
    padding: 135px 0 175px 0;
  }

  .process {
    padding: 80px 20px 85px;
  }

  .mission {
    padding: 80px 20px 85px;
  }

  .footer__links {
    padding: 75px 0 40px;
  }

  .footer__contacts {
    padding: 56px 0;
  }

  .about--about-page {
    padding: 40px 0 100px;
  }

  .about__paragraph {
    padding: 85px 0 75px;
  }

  .who {
    padding: 90px 0 115px;
  }

  .who__title {
    margin: 0 auto 16px;
    max-width: 75%;
  }

  .who__text {
    max-width: 70%;
  }

  .who__paragraph--expose {
    padding: 86px 0 70px;
  }

  .pharm__group {
    padding: 100px 0 95px;
  }
}
/*#endregion extraLargeScreen*/

/*#region tablet*/
@media screen and (min-width: 905px) and (max-width: 1439px) {
  /*#region header*/
  .header {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--light-blue);
  }

  .header__action {
    text-align: center;
  }

  .header__action-wrapper a {
    padding: 11px 0;
    margin-right: 0;
  }

  .header__action-wrapper button {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__burger-menu {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu button {
    padding: 0;
    width: 26px;
    height: 17px;
    cursor: pointer;
    z-index: 3;
  }

  .burger-menu button > span {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    display: block;

    transition: background-color 0.5s;
  }

  .burger-menu button > span::before,
  .burger-menu button > span::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;

    transition: all 0.5s;
  }

  .burger-menu button > span::before {
    transform: translateY(-6px);
  }

  .burger-menu button > span::after {
    transform: translateY(3px);
  }

  .burger-menu__button.active .burger-menu__button-span {
    background-color: transparent;
  }

  .burger-menu__button.active .burger-menu__button-span::before {
    transform: rotateZ(45deg);
    background-color: var(--yellow);
  }

  .burger-menu__button.active .burger-menu__button-span::after {
    transform: rotateZ(-45deg) translateY(-2px) translateX(2px);
    background-color: var(--yellow);
  }

  .burger-menu-logo {
    height: 55px;
  }

  .burger-menu-logo-img {
    height: 55px;
  }

  .burger-menu-list {
    z-index: 1;
    position: absolute;
    top: 46px;
    right: 0;
    left: 0;
    height: max-content;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    transition: all 0.5s;
  }

  .burger-menu-list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 30px;;
    background: var(--medium-blue);
  }

  .burger-menu-list-item {
    margin-bottom: 25px;
  }

  .burger-menu-list-item:first-child {
    margin-bottom: 15px;
  }

  .burger-menu-list-item:last-child {
    margin-bottom: 35px;
  }

  .burger-menu-list-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0015em;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #FFFFFF;
  }

  .yellow-link.yellow-link--small {
    position: static;
    padding: 5px 20px;
    font-family: "Open Sans Condensed", "Open Sans", "sans-serif";
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #000000;
    background: var(--yellow);
    border-radius: 100px;
  }

  .yellow-link.yellow-link--small::after {
    content: '';
  }

  .yellow-link {
    padding: 10px 72px 10px 36px;
  }

  .header--transparent-blue button > span {
    background-color: #000000;
  }

  .header--transparent-blue button > span::before,
  .header--transparent-blue button > span::after {
    background-color: #000000;
  }
  /*#endregion header*/

  /*#region greeting*/
  .greeting {
    background-color: var(--light-blue);
    padding: 45px 30px 70px 70px;
    margin-bottom: 69px;
  }

  .greeting__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  .greeting__description-text {
    max-width: 430px;
  }

  .greeting__description-text h1 {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 5px;
  }

  .greeting__description-text p:not(:first-child) {
    margin-bottom: 30px;
  }

  .greeting__description img {
    height: 230px;
  }

  .greeting__examples {
    display: block;
    text-align: center;
  }

  .greeting__examples p {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .greeting__examples-companies {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .greeting__examples-companies a {
    height: 42px;
    margin-right: 90px;
  }

  .greeting__examples-companies img {
    height: 42px;
  }
  /*#endregion greeting*/

  /*#region cases*/
  .cases {
    padding: 0 64px;
  }

  .cases a:first-child {
    display: none;
  }

  .cases h2 {
    font-size: 40px;
  }

  .cases > div {
    margin: 0 auto 55px;
    grid-template-columns: repeat(2, 351px);
    column-gap: 55px;
    row-gap: 18px;
  }

  .cases > div div div:first-child {
    height: 210px;
  }

  .cases > div div img {
    height: 83px;
  }

  .cases > div div div:nth-child(2) {
    padding: 36px 30px;
  }
  /*#endregion cases*/

  /*#region law*/
  .law {
    flex-direction: column;
    padding: 125px 75px 105px;
  }

  .law img {
    height: 550px;
  }

  .law__description {
    margin-top: 40px;
    max-width: max-content;
    text-align: center;
  }

  .law__description h2 {
    font-size: 40px;
  }

  .law__description p {
    margin-bottom: 30px;
  }

  .law__description p:last-of-type {
    margin-bottom: 0;
  }

  .law__description a {
    display: none;
  }
  /*#endregion law*/

  /*#region about*/
  .about {
    position: relative;
    flex-direction: column-reverse;
    padding: 95px 85px 75px;
  }

  .about__description {
    max-width: max-content;
    text-align: center;
    margin-top: 115px;
  }

  .about__description h2 {
    font-size: 40px;
  }

  .about__description p {
    margin-bottom: 40px;
  }

  .about img {
    height: 470px;
  }

  .about__decoration {
    position: absolute;
    top: 310px;
    right: 50%;
    transform: translateX(50%);
  }
  /*#endregion about*/

  /*#region process*/
  .process {
    padding: 80px 85px 95px;
  }

  .process h2 {
    font-size: 40px;
  }
  /*#endregion process*/

  /*#region mission*/
  .mission {
    padding: 85px 80px 110px;
  }

  .mission h2 {
    margin-bottom: 18px;
    font-size: 40px;
  }
  /*#endregion mission*/

  /*#region slickSlider*/
  .slick-track {
    gap: 40px;
  }
  /*#endregion slickSlider*/

  /*#region reviews*/
  .reviews h2 {
    max-width: 730px;
    font-size: 40px;
  }

  .reviews h2 > span {
    color: var(--light-blue);
  }

  .reviews__slider {
    position: relative;
    margin: 0 auto;
    width: 85%;
  }

  .reviews__slider .slick-track {
    padding-top: 60px;
    margin-bottom: 75px;
  }

  .reviews__slide {
    padding: 48px 38px 42px;
    width: 365px;
  }

  .reviews__slide.slick-slide {
    width: 365px;
  }

  .reviews__slider .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-65%);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    font-size: 0;
    background-color: var(--light-blue);
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__slider .slick-arrow.slick-disabled {
    background: #9A989A;
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__slider .slick-arrow.slick-prev {
    left: -20px;
    background-image: url("../images/prev-arrow.svg");
  }

  .reviews__slider .slick-arrow.slick-next {
    right: -15px;
    background-image: url("../images/next-arrow.svg");
  }

  .reviews__slide p {
    margin-bottom: 7px;
  }

  .reviews__sites {
    margin: 0 auto 85px;
  }

  .reviews__sites a {
    margin-right: 120px;
  }
  /*#endregion reviews*/

  /*#region freeevaluation*/
  .freeevaluation {
    padding: 80px 0 90px;
  }
  /*#endregion freeevaluation*/

  /*#region footer*/
  .footer__links {
    padding: 70px 69px 52px 61px;
  }

  .links__about {
    display: block;
  }

  .links__about-row {
    max-width: max-content;
  }

  .links__about-row:first-child {
    margin-right: 0;
    margin-bottom: 34px;
  }

  .links__about-row:nth-child(2) {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .links__about-row:nth-child(3) {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .links__logos img {
    height: 37px;
  }

  .footer__contacts {
    position: relative;
    display: block;
    text-align: center;
    padding: 50px 62px 95px;
  }

  .contacts__col:nth-child(2) {
    margin-bottom: 35px;
  }

  .contacts__col-form {
    margin: 0 auto;
    width: 306px;
    margin-bottom: 36px;
  }

  .contacts__col p {
    text-align: center;
  }

  .contacts__col:first-child p {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__col p:first-child {
    margin-bottom: 32px;
  }

  .contacts__col:last-child {
    max-width: max-content;
  }
  /*#endregion footer*/

  /*#region fraudPage*/
    .main-cases {
      margin-top: 40px;
      margin-bottom: 65px;
    }

    .fraud-cases {
      margin-bottom: 105px;
    }
  /*#endregion fraudPage*/

  /*#region aboutPage*/
    .about__greeting-description {
      max-width: max-content;
    }

    .about__greeting-img {
      height: 640px;
      margin-bottom: 30px;
    }
    
    .about--about-page {
      padding: 5px 48px 75px;
    }
    
    .about__text--about-page {
      text-align: center;
      margin-bottom: 20px;
    }

    .about__title--about-page {
      text-align: center;
    }

    .about__paragraph {
      padding: 85px 48px 60px;
    }

    .about__paragraph-title {
      margin-bottom: 60px;
    }

    .cases__cards--about-page {
      row-gap: 44px;
    }

    .cases__cards--about-page {
      margin-bottom: 80px;
    }
  /*#endregion aboutPage*/

  /*#region healthcarePage*/
  .healthcare__greeting {
    text-align: center;
  }

  .mission__title--healthcare {
    text-align: center;
  }

  .who {
    padding: 69px 48px 70px;
  }
  
  .who__title {
    margin-bottom: 35px;
    font-size: 32px;
    line-height: 46px;
    max-width: 750px;
  }

  .who__text {
    margin: 0 auto 75px;
    max-width: 755px;
  }
  
  .who__text:nth-child(2) {
    max-width: 795px;
    margin-bottom: 85px;
  }
  
  .who__cards {
    grid-template-columns: repeat(3, 195px);
    row-gap: 60px;
  }

  .who__paragraph {
    max-width: 750px;
  }

  .who__paragraph--expose {
    padding: 65px 0 85px;
  }
  /*#endregion healthcarePage*/

  /*#region pharmaseutical*/
  .pharm__group {
    padding: 64px 80px 70px;
    flex-direction: column;
    align-items: center;
  }
  /*#endregion pharmaseutical*/

  /*#region defense*/
  .defense__greeting-img {
    height: 460px;
    margin-bottom: 50px;
  }
  
  .defense__description {
    text-align: left;
    padding: 95px 65px 75px;
  }

  .defense__description-content {
    flex-direction: column;
  }
  
  .defense__description-paragraph {
    margin-top: 68px;
    max-width: max-content;
  }
  /*#endregion defense*/

  /*#region tariff*/
  .tariff__greeting-img {
    height: 530px;
  }
  /*#endregion tariff*/

  /*#region irs*/
  .who__paragraph-title--big {
    font-size: 43px;
    margin-bottom: 70px;
  }

  .who__paragraph-title--big + .who__paragraph-text {
    display: none;
  }

  .who__paragraph--irs {
    max-width: 100%;
    margin-left: 0;
  }
  /*#endregion irs*/

}
/*#endregion tablet*/

/*#region phone*/
@media screen and (min-width: 584px) and (max-width: 904px) {
  /*#region header*/
  .header {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--light-blue);
  }

  .header__action {
    text-align: center;
  }

  .header__action-wrapper a {
    padding: 3px 0;
    margin-right: 0;
  }

  .header__action-wrapper button {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__burger-menu {
    padding: 28px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu__button {
    padding: 0;
    width: 26px;
    height: 17px;
    cursor: pointer;
    z-index: 3;
  }

  .burger-menu__button-span {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    display: block;

    transition: background-color 0.5s;
  }

  .burger-menu__button-span::before,
  .burger-menu__button-span::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;

    transition: all 0.5s;
  }

  .burger-menu__button-span::before {
    transform: translateY(-6px);
  }

  .burger-menu__button-span::after {
    transform: translateY(3px);
  }

  .burger-menu__button.active .burger-menu__button-span {
    background-color: transparent;
  }

  .burger-menu__button.active .burger-menu__button-span::before {
    transform: rotateZ(45deg);
    background-color: var(--yellow);
  }

  .burger-menu__button.active .burger-menu__button-span::after {
    transform: rotateZ(-45deg) translateY(-2px) translateX(2px);
    background-color: var(--yellow);
  }

  .burger-menu-logo {
    height: 55px;
  }

  .burger-menu-logo-img {
    height: 55px;
  }

  .burger-menu-list {
    z-index: 1;
    position: absolute;
    top: 30px;
    right: 0;
    left: 0;
    height: max-content;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    transition: all 0.5s;
  }

  .burger-menu-list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 30px;;
    background: var(--medium-blue);
  }

  .burger-menu-list-item {
    margin-bottom: 25px;
  }

  .burger-menu-list-item:first-child {
    margin-bottom: 15px;
  }

  .burger-menu-list-item:last-child {
    margin-bottom: 35px;
  }

  .burger-menu-list-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0015em;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #FFFFFF;
  }

  .yellow-link.yellow-link--small {
    position: static;
    padding: 5px 20px;
    font-family: "Open Sans Condensed", "Open Sans", "sans-serif";
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #000000;
    background: var(--yellow);
    border-radius: 100px;
  }

  .yellow-link.yellow-link--small::after {
    content: '';
  }

  .burger-menu__button-span--white {
    background-color: #000000;
  }

  .burger-menu__button-span--white::before,
  .burger-menu__button-span--white::after {
    background-color: #000000;
  }
  /*#endregion header*/

  /*#region greeting*/
  .greeting {
    padding: 20px 40px 70px;
    margin-bottom: 70px;
  }

  .greeting__description {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 48px;
    max-width: 480px;
  }

  .greeting__description-text p:first-child {
    margin-bottom: 13px;
  }

  .greeting__description-text h1 {
    font-size: 33px;
    line-height: 40px;
    margin-bottom: 14px;
  }

  .greeting__description-text p:not(:first-child) {
    margin-bottom: 20px;
  }

  .greeting__description img {
    height: 305px;
    margin-bottom: 48px;
  }

  .greeting__examples {
    display: block;
    text-align: center;
  }

  .greeting__examples p {
    margin-right: 0;
    margin-bottom: 19px;
  }

  .greeting__examples-companies {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .greeting__examples-companies a {
    height: 38px;
    margin-right: 40px;
  }

  .greeting__examples-companies img {
    height: 38px;
  }
  /*#endregion greeting*/

  /*#region cases*/
  .cases {
    padding: 0 74px;
  }

  .cases a:first-child {
    display: none;
  }

  .cases h2 {
    font-size: 32px;
  }

  .cases > div {
    margin: 0 auto 40px;
    grid-template-columns: repeat(1, 430px);
    row-gap: 29px;
  }

  .cases > div div div:first-child {
    height: 125px;
  }

  .cases > div div img {
    height: 73px;
  }

  .cases > div div div:nth-child(2) {
    padding: 92px 51px;
  }

  .cases a:last-child {
    margin-bottom: 85px;
  }
  /*#endregion cases*/

  /*#region law*/
  .law {
    flex-direction: column;
    padding: 110px 60px 95px;
  }

  .law img {
    height: 445px;
  }

  .law__description {
    margin-top: 60px;
    max-width: max-content;
    text-align: center;
  }

  .law__description h2 {
    font-size: 30px;
  }

  .law__description p {
    margin-bottom: 35px;
  }

  .law__description p:last-of-type {
    margin-bottom: 0;
  }

  .law__description a {
    display: none;
  }
  /*#endregion law*/

  /*#region about*/
  .about {
    position: relative;
    flex-direction: column-reverse;
    padding: 120px 55px 70px;
  }

  .about__description {
    max-width: max-content;
    text-align: center;
    margin-top: 90px;
  }

  .about__description h2 {
    font-size: 30px;
  }

  .about__description p {
    margin-bottom: 70px;
  }

  .about img {
    height: 370px;
  }

  .about__decoration {
    position: absolute;
    top: 280px;
    right: 12%;
  }
  /*#endregion about*/

  /*#region process*/
  .process {
    padding: 60px 35px 65px;
  }

  .process h2 {
    font-size: 40px;
  }
  /*#endregion process*/

  /*#region mission*/
  .mission {
    padding: 60px 55px 65px 25px;
  }

  .mission h2 {
    margin-bottom: 36px;
    font-size: 40px;
  }
  /*#endregion mission*/

  /*#region slickSlider*/
  .slick-track {
    gap: 40px;
  }
  /*#endregion slickSlider*/

  /*#region reviews*/
  .reviews h2 {
    margin-top: 64px;
    margin-bottom: 18px;
    max-width: 480px;
    font-size: 30px;
    line-height: 45px;
  }

  .reviews h2 > span {
    color: var(--light-blue);
  }

  .reviews__slider {
    position: relative;
    margin: 0 auto;
    width: 85%;
  }

  .reviews__slider .slick-track {
    padding-top: 49px;
    margin-bottom: 75px;
  }

  .reviews__slide {
    padding: 60px 45px;
    width: 475px;
  }

  .reviews__slide.slick-slide {
    width: 475px;
  }

  .reviews__slider .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-65%);
    height: 58px;
    width: 58px;
    border-radius: 50%;
    font-size: 0;
    background-color: var(--light-blue);
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__slider .slick-arrow.slick-disabled {
    background: #9A989A;
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__slider .slick-arrow.slick-prev {
    left: -20px;
    background-image: url("../images/prev-arrow.svg");
  }

  .reviews__slider .slick-arrow.slick-next {
    right: -15px;
    background-image: url("../images/next-arrow.svg");
  }

  .reviews__slide p {
    margin-bottom: 7px;
  }

  .reviews__sites {
    flex-direction: column;
    margin: 0 auto 60px;
  }

  .reviews__sites a {
    margin-right: 0;
    margin-bottom: 65px;
  }

  .reviews__sites a:last-child {
    margin-bottom: 0;
  }
  /*#endregion reviews*/

  /*#region freeevaluation*/
  .freeevaluation {
    padding: 65px 0 30px;
  }

  .form {
    max-width: 520px;
  }

  .form button.yellow-link::after {
    right: 160px;
  }
  /*#endregion freeevaluation*/

  /*#region footer*/
  .footer__links {
    padding: 70px 45px 50px;
  }

  .links__about {
    display: block;
  }

  .links__about-row {
    max-width: max-content;
  }

  .links__about-row:first-child {
    margin-right: 0;
    margin-bottom: 34px;
  }

  .links__about-row:nth-child(2) {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .links__about-row:nth-child(3) {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .links__logos {
    gap: 30px;
  }

  .links__logos img {
    height: 65px;
  }

  .footer__contacts {
    position: relative;
    display: block;
    text-align: center;
    padding: 50px 62px 95px;
  }

  .contacts__col:nth-child(2) {
    margin-bottom: 35px;
  }

  .contacts__col form {
    margin: 0 auto;
    width: 306px;
    margin-bottom: 36px;
  }

  .contacts__col p {
    text-align: center;
  }

  .contacts__col:first-child p {
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__col p:first-child {
    margin-bottom: 32px;
  }

  .contacts__col:last-child {
    max-width: max-content;
  }
  /*#endregion footer*/

  /*#region fraudPage*/
    .main-cases {
      margin-top: 10px;
      margin-bottom: 55px;
    }

    .fraud-cases {
      margin-bottom: 75px;
    }
  /*#endregion fraudPage*/

  /*#region aboutPage*/
    .about__greeting-description {
      max-width: max-content;
    }

    .about__greeting-img {
      height: 495px;
      margin-bottom: 65px;
    }
    
    .about--about-page {
      padding: 25px 28px 52px;
    }
    
    .about__text--about-page {
      text-align: center;
      margin-bottom: 20px;
    }

    .about__title--about-page {
      margin-bottom: 32px;
      text-align: center;
    }

    .about__paragraph {
      padding: 35px 28px 50px;
    }

    .about__paragraph-title {
      margin-bottom: 10px;
    }

    .cases__cards--about-page {
      margin-bottom: 70px;
    }

  /*#endregion aboutPage*/

  /*#region healthcarePage*/
  .healthcare__greeting {
    text-align: center;
  }

  .mission__title--healthcare {
    text-align: center;
  }

  .who {
    padding: 60px 28px 80px;
  }
  
  .who__title {
    margin: 0 auto 24px;
    font-size: 32px;
    line-height: 37px;
    max-width: 495px;
  }
  
  .who__text {
    margin: 0 auto 90px;
    max-width: max-content;
  }
  
  .who__text:nth-child(2) {
    max-width: max-content;
    margin-bottom: 50px;
  }
  
  .who__cards {
    margin: 0 auto 70px;
    grid-template-columns: repeat(2, 195px);
    column-gap: 90px;
    row-gap: 60px;
  }

  .who__paragraph {
    max-width: max-content;
  }

  .who__paragraph--expose {
    padding: 50px 28px 60px;
  }
  /*#endregion healthcarePage*/

  /*#region pharmaseutical*/
  .pharm__group {
    padding: 50px 45px 95px;
    flex-direction: column;
    align-items: center;
  }
  /*#endregion pharmaseutical*/

  /*#region defense*/
  .defense__greeting-img {
    height: 350px;
    margin-bottom: 50px;
  }
  
  .defense__description {
    text-align: left;
    padding: 50px 35px 35px;
  }

  .defense__description-content {
    flex-direction: column;
  }
  
  .defense__description-paragraph {
    margin-top: 56px;
    max-width: max-content;
  }
  /*#endregion defense*/

  /*#region tariff*/
  .tariff__greeting-img {
    height: 395px;
  }
  /*#endregion tariff*/

  /*#region irs*/
  .who__paragraph-title--big {
    font-size: 31px;
    line-height: 40px;
    margin-bottom: 36px;
  }

  .who__paragraph-title--big + .who__paragraph-text {
    display: none;
  }

  .who__paragraph--irs {
    max-width: 100%;
    margin-left: 0;
  }
  /*#endregion irs*/


}
/*#endregion phone*/

/*#region smallscreens*/
@media screen and (min-width: 360px) and (max-width: 583px) {
  /*#region header*/
  .header {
    position: static;
  }

  .header__action {
    text-align: center;
  }

  .header__action-wrapper a {
    padding: 3px 0;
    margin-right: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .header__action-wrapper button {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__burger-menu {
    padding: 18px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu__button {
    padding: 0;
    width: 26px;
    height: 17px;
    cursor: pointer;
    z-index: 3;
  }

  .burger-menu__button-span {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    display: block;

    transition: background-color 0.5s;
  }

  .burger-menu__button-span::before,
  .burger-menu__button-span::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;

    transition: all 0.5s;
  }

  .burger-menu__button-span::before {
    transform: translateY(-6px);
  }

  .burger-menu__button-span::after {
    transform: translateY(3px);
  }

  .burger-menu__button.active .burger-menu__button-span {
    background-color: transparent;
  }

  .burger-menu__button.active .burger-menu__button-span::before {
    transform: rotateZ(45deg);
    background-color: var(--yellow);
  }

  .burger-menu__button.active .burger-menu__button-span::after {
    transform: rotateZ(-45deg) translateY(-2px) translateX(2px);
    background-color: var(--yellow);
  }

  .burger-menu-logo {
    height: 45px;
  }

  .burger-menu-logo-img {
    height: 45px;
  }

  .burger-menu-list {
    z-index: 1;
    position: absolute;
    top: 26px;
    right: 0;
    left: 0;
    height: max-content;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    transition: all 0.5s;
  }

  .burger-menu-list.open {
    visibility: visible;
    opacity: 1;
    padding-top: 30px;;
    background: var(--medium-blue);
  }

  .burger-menu-list-item {
    margin-bottom: 20px;
  }

  .burger-menu-list-item:first-child {
    margin-bottom: 10px;
  }

  .burger-menu-list-item:last-child {
    margin-bottom: 30px;
  }

  .burger-menu-list-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.0015em;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #FFFFFF;
  }

  .yellow-link {
    padding: 10px 62px 10px 26px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .yellow-link::after {
    right: 36px;
  }

  .yellow-link.yellow-link--small {
    position: static;
    padding: 3px 15px;
    font-family: "Open Sans Condensed", "Open Sans", "sans-serif";
    font-size: 13px;
    line-height: 24px;
    text-transform: capitalize;
    font-feature-settings: 'ss04' on, 'ss03' on, 'ss02' on;
    color: #000000;
    background: var(--yellow);
    border-radius: 100px;
  }

  .yellow-link.yellow-link--small::after {
    content: '';
  }

  .burger-menu__button-span--white {
    background-color: #000000;
  }

  .burger-menu__button-span--white::before,
  .burger-menu__button-span--white::after {
    background-color: #000000;
  }
  /*#endregion header*/

  /*#region greeting*/
  .greeting {
    padding: 16px 16px 22px;
    margin-bottom: 45px;
  }

  .greeting__description {
    flex-direction: column-reverse;
    margin-bottom: 36px;
  }

  .greeting__description-text p:first-child {
    margin-bottom: 0;
    font-size: 16px;
  }

  .greeting__description-text h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
  }

  .greeting__description-text p:not(:first-child) {
    margin-bottom: 15px;
  }

  .greeting__description img {
    height: 200px;
    margin-bottom: 35px;
  }

  .greeting__examples {
    display: block;
    text-align: center;
  }

  .greeting__examples p {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .greeting__examples-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .greeting__examples-companies a {
    height: 28px;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .greeting__examples-companies img {
    height: 28px;
  }
  /*#endregion greeting*/

  /*#region cases*/
  .cases {
    padding: 0 16px;
  }

  .cases a:first-child {
    display: none;
  }

  .cases h2 {
    font-size: 30px;
    margin-bottom: 32px;
  }

  .cases > div {
    margin: 0 auto 32px;
    grid-template-columns: repeat(1, 300px);
    row-gap: 15px;
  }

  .cases > div div div:first-child {
    height: 100px;
  }

  .cases > div div img {
    height: 55px;
  }

  .cases > div div div:nth-child(2) {
    padding: 36px;
  }

  .cases a:last-child {
    margin-bottom: 45px;
  }
  /*#endregion cases*/

  /*#region law*/
  .law {
    flex-direction: column;
    padding: 32px 16px 45px;
  }

  .law img {
    height: 250px;
  }

  .law__description {
    margin-top: 16px;
    max-width: max-content;
    text-align: center;
  }

  .law__description h2 {
    font-size: 30px;
  }

  .law__description p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .law__description p:last-of-type {
    margin-bottom: 0;
  }

  .law__description a {
    display: none;
  }
  /*#endregion law*/

  /*#region about*/
  .about {
    position: relative;
    flex-direction: column-reverse;
    padding: 32px 16px 45px;
  }

  .about__description {
    max-width: max-content;
    text-align: center;
    margin-top: 32px;
  }

  .about__description h2 {
    font-size: 30px;
  }

  .about__description p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .about img {
    height: 220px;
  }

  .about__decoration {
    position: absolute;
    top: 125px;
    right: 9%;
    height: 155px;
    width: 165px;
  }

  .about__decoration p:nth-child(odd) {
    font-size: 20px;
    margin-bottom: 0;
  }

  .about__decoration p:nth-child(even) {
    font-size: 11px;
    margin-bottom: 5px;
  }
  /*#endregion about*/

  /*#region process*/
  .process {
    padding: 32px 16px 45px;
  }

  .process h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .process p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  /*#endregion process*/

  /*#region mission*/
  .mission {
    padding: 32px 16px 45px;
  }

  .mission h2 {
    margin-bottom: 16px;
    font-size: 30px;
  }

  .mission p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  /*#endregion mission*/

  /*#region slickSlider*/
  .slick-track {
    gap: 40px;
  }
  /*#endregion slickSlider*/

  /*#region reviews*/
  .reviews h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    max-width: max-content;
    font-size: 30px;
    line-height: 45px;
  }

  .reviews h2 > span {
    color: var(--light-blue);
  }

  .reviews__stars {
    margin: 0 auto 8px;
  }

  .reviews__slider {
    position: relative;
    margin: 0 auto;
    width: 85%;
  }

  .reviews__slider .slick-track {
    padding-top: 24px;
    margin-bottom: 32px;
  }

  .reviews__slide {
    padding: 32px;
    width: 320px;
  }

  .reviews__slide.slick-slide {
    width: 320px;
  }

  .reviews__slider .slick-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-65%);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    font-size: 0;
    background-color: var(--light-blue);
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .reviews__slider .slick-arrow.slick-disabled {
    background: #9A989A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45%;
  }

  .reviews__slider .slick-arrow.slick-prev {
    left: -20px;
    background-image: url("../images/prev-arrow.svg");
  }

  .reviews__slider .slick-arrow.slick-next {
    right: 0;
    background-image: url("../images/next-arrow.svg");
  }

  .reviews__slide p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .reviews__sites {
    flex-direction: column;
    margin: 0 auto 45px;
  }

  .reviews__sites a {
    margin-right: 0;
    margin-bottom: 32px;
    height: 64px;
  }

  .reviews__sites img {
    height: 64px;
  }

  .reviews__sites a:last-child {
    margin-bottom: 0;
  }
  /*#endregion reviews*/

  /*#region freeevaluation*/
  .freeevaluation {
    padding: 32px 0 45px;
  }

  .form {
    padding: 16px;
    max-width: 320px;
  }

  .form input, select, textarea {
    padding: 8px;
    font-size: 12px;
    line-height: 20px;
  }

  .form label {
    margin-bottom: 8px;
  }

  .form p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 32px;
  }

  .form button.yellow-link::after {
    right: 80px;
  }
  /*#endregion freeevaluation*/

  /*#region footer*/
  .footer__links {
    padding: 32px 16px 45px;
  }

  .links__about {
    display: block;
    margin-bottom: 45px;
  }

  .links__about-row:first-child {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .links__about-row:nth-child(2) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .links__about-row:nth-child(3) {
    margin-right: 0;
    margin-bottom: 32px;
  }

  .links__logos {
    gap: 16px;
  }

  .links__logos img {
    height: 45px;
  }

  .footer__contacts {
    position: relative;
    display: block;
    text-align: center;
    padding: 32px 16px 75px;
  }

  .contacts__col:nth-child(2) {
    margin-bottom: 35px;
  }

  .contacts__col form {
    margin: 0 auto;
    width: 306px;
    margin-bottom: 36px;
  }

  .contacts__col p {
    text-align: center;
  }

  .contacts__col:first-child p {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__col p:first-child {
    margin-bottom: 32px;
  }

  .contacts__col:last-child {
    max-width: max-content;
  }
  /*#endregion footer*/

  /*#region fraudPage*/
    .main-cases {
      margin-top: 10px;
      margin-bottom: 45px;
    }

    .fraud-cases {
      margin-bottom: 65px;
    }
  /*#endregion fraudPage*/

  /*#region aboutPage*/
    .about__greeting-description {
      max-width: max-content;
    }

    .about__greeting-img {
      height: 320px;
      margin-bottom: 16px;
    }
    
    .about--about-page {
      padding: 5px 16px 45px;
    }
    
    .about__text--about-page {
      text-align: center;
      margin-bottom: 8px;
    }

    .about__title--about-page {
      margin-bottom: 16px;
      text-align: center;
    }

    .about__paragraph {
      padding: 32px 16px 45px;
    }

    .about__paragraph-title {
      line-height: 40px;
      margin-bottom: 10px;
    }

    .cases__cards--about-page {
      margin-bottom: 45px;
    }
  /*#endregion aboutPage*/

  /*#region healthcarePage*/
  .healthcare__greeting {
    text-align: center;
  }

  .mission__title--healthcare {
    text-align: center;
  }

  .who {
    padding: 32px 16px 45px;
  }
  
  .who__title {
    margin: 0 auto 16px;
    font-size: 28px;
    line-height: 33px;
    max-width: max-content;
  }
  
  .who__text {
    margin: 0 auto 40px;
    max-width: max-content;
  }
  
  .who__text:nth-child(2) {
    max-width: max-content;
    margin-bottom: 32px;
  }
  
  .who__cards {
    margin: 0 auto 40px;
    grid-template-columns: repeat(1, 195px);
    row-gap: 40px;
  }

  .who__paragraph-title {
    font-size: 24px;
    line-height: 30px;
  }

  .who__paragraph-text {
    font-size: 12px
  }

  .who__paragraph--expose {
    padding: 32px 16px 40px;
  }

  /*#endregion healthcarePage*/

  /*#region pharmaseutical*/
  .pharm__group {
    padding: 32px 16px 45px;
    flex-direction: column;
    align-items: center;
  }
  /*#endregion pharmaseutical*/

  /*#region defense*/
  .defense__greeting-img {
    height: 230px;
    margin-bottom: 32px;
  }
  
  .defense__description {
    text-align: left;
    padding: 32px 16px 45px;
  }

  .defense__description-content {
    flex-direction: column;
  }

  .defense__description-content-img {
    width: 320px;
  }
  
  .defense__description-paragraph {
    margin-top: 32px;
    max-width: max-content;
  }
  /*#endregion defense*/

  /*#region tariff*/
  .tariff__greeting-img {
    max-height: 245px;
  }
  /*#endregion tariff*/

  /*#region irs*/
  .who__paragraph-title--big {
    font-size: 28px;
    line-height: 37px;
  }

  .who__paragraph-title--big + .who__paragraph-text {
    display: none;
  }

  .who__paragraph--irs {
    max-width: 100%;
    margin-left: 0;
  }
  /*#endregion irs*/


}
/*#endregion smallscreens*/
